@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Montserrat:wght@100;200;300;500;600&family=Playfair+Display:wght@400;500;600&family=Poppins:wght@100;200;300;400;600&family=Shippori+Antique&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  max-width: 100%;
  background-color: white;
}

a{
  text-decoration: none;
  cursor: pointer;
}

nav{
  display: flex;
  color: white;
  padding: 20px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
nav h1{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  color: #05546D;
}

.logo{
  display: flex;
  align-items: center;
  margin-left: 20px;
}

#lawlogo{
  background: url("/images/Icon-Small-40.png");
  width: 50px;
  height: 50px;
  display: block;
  background-repeat: no-repeat;
}



.mobile-menu{
  display: none;
}

.menu ul{
  display: inline-block;
}

.menu ul li{
  display: inline-block;
  margin: 0 20px;
}

.menu ul li a{
  font-family: 'Poppins', sans-serif;
  color: grey;
  padding: 15px;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
}

.menu ul li a:hover{
  color:white;
  background:#05546D;
}

.hero-area{
  background: rgba(0, 0, 0, 0.1);
  background-image: url("/images/hero.png");
  position: absolute;
  width: 100%;
  height: 600px;
  left: 0px;
  background-size: 100%;
}

.hero-text{
  position: relative;
  top: 30%;
  left: 38px;
  padding: 30px;
  width: 40%;
  opacity: 0.5s;
  text-align: left;
  color: white;
}

.hero-text h2{
  font-size: 40px;
  font-family: "Playfair Display", sans-serif;
}

.hero-text p{
font-size: 30px;
font-family: "Montserrat",sans-serif;

}
.hero-bttn{
  font-size: 40px;
  color: grey;
  margin-top: 10px;

}

.hero-bttn a{
font-family: 'Poppins', sans-serif;
  background-color:#094B72;
  color: white;
  padding: 20px;
  border-radius: 8px;
  font-size: 20px;
}

.hero-bttn a:hover{
  background-color: white;
  color: #094b72;
  box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
}


.features-area{
  background-color: #f2fcff;
  position: relative;
  top: 500px;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 650px;
}

.feature-desc{
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.feature-desc h2{
  font-size: 48px;
  color: #2d2f30;
  font-weight: 700;
  font-style: normal;
  line-height: 64px;
}

.feature-desc p{
    color: #8b8c8c;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.box-area{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.feature-box{

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;

width: 256px;
height: 253px;
left: 639px;
top: 1150px;

background: #FCFCFC;
box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
border-radius: 8px
}

.icon {
        height: 37px;
        width: 37px;
        display: block;
        margin-bottom: 2px;
}



#land{
  background: url("/images/Land and Housing Icon.png");
}

#notary {
  background: url("/images/nota.png")
}

#litigate{
  background: url("/images/Rocket.png")
}

#corp{
  background: url("/images/corporate.png");
}


.feature-box h3{
  font-size: 22px;
  font-weight: 700;
  color: #363940;
  font-family: 'Playfair Display', serif;
}

.feature-box p{
  font-size: 11px;
  line-height: 24px;
  color: #8b8c8c;
  font-family: 'Poppins', sans-serif;
}

.founder-area{
  position: relative;
  display: flex;
  top: 500px;
  flex-direction: row;
  align-items: center;
  height: 400px;
  padding: 20px;
  margin-top: 20px;
}

.founder-area2{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 100px;
}

.founder-area2 img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.founder-area2 p{
  font-family: 'Poppins', sans-serif;
}

.founder-box{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.founder-box h2{
  padding-left: 20px;
  font-size: 30px;
}

.founder-bttn{
  margin-top: 20px;
}

.founder-bttn a{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  background-color: #027794;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 20px;
}

.founder-bttn a:hover{
  background-color: white;
  color: #027794;
}

.founder-info{
width: 80%;
padding: 20px;
}

.founder-info p{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #2D2F30;
}

.slider{
    width: 100%;
    height: 500px;
    overflow: hidden;
    text-align: center;
    position: relative;
    top:500px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width:1200px;
    height: 500px;
    object-fit: cover;

}


.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    margin-left: 150px;

}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition:1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left:0;
}

#radio2:checked ~ .first{
    margin-left:-20%;
}

#radio3:checked ~ .first{
    margin-left:-40%;
}

#radio4:checked ~ .first{
    margin-left:-60%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
    margin-left: 150px;
}

.navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
background-color: #888888;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #888888;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #888888;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #888888;
    }


.footer-area{
  display: flex;
  padding: 70px;
  width:100%;
  justify-content: space-between;
  position: relative;
  top: 500px;
  background-color: #0F6E8C;
}

.location i{
  color: #FFFFFF;
}

.location h3{
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: #FFFFFF;
}

.location p{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #FFFFFF;
}

.icon2{
  display: block;
  margin-bottom: 2px;

}

#phone{
  background: url("/images/phone.png");
  width:35px;
  height: 35px;
}

#email{
  background: url("/images/email.png");
  width:40px;
  height: 30px;
}

#address{
  background: url("/images/Vector.png");
  width:40px;
  height: 30px;
}


.note{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #05546D;
    font-size: 12px;
    font-family: 'Shippori Antique', sans-serif;
    padding: 10px;
    position: relative;
    top: 500px;
}


@media only screen and (max-width: 600px){
nav{
  background-color:white;
}

.menu{
  display: none;
}

.logo{
  margin-left: 0;
}
.logo h1{
  font-size:8px;
}

.mobile-menu{
  display: block;
}

.mobile-menu a{
  padding: 15px;
  background-color: #05546d;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 12px;
  border-radius: 5px;
  color: white;
}

.mobile-menu a:hover{
  background-color: white;
  color:#05546d;
  box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
}

nav{
 justify-content: space-between;
 align-items: center;
 width: 100%;
 margin-left: 0%;
 margin-right: 0%;
}



nav h1{
  font-size: 20px;
}

.hero-area{
  background-size: 650px 100%;
}

.hero-text{
  padding: 30px;
  width: 80%;
  height: auto;
  left: 10px;
  top: 30%;
}

.hero-text h2{
  font-size: 15px;
}

.hero-text p{
  font-size: 12px;
}

.hero-bttn a{
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;

}

.features-area{
  display: flex;
  flex-direction:column;
  height: auto;
}

.feature-desc{
  display: flex;
  flex-direction: column;
}

.feature-desc h2{
  font-size: 22px;
  line-height: 24px;
}

.feature-desc p{
  font-size: 15px;
}

.box-area{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-box{
  height: 259px;
  width: 98%;
  margin: 10px 0;
  justify-content: center;

}

.feature-box p{
  font-size: 12px;
}

.founder-area{
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.founder-area2{
    padding-left: 0px
}

.founder-area2 img{
  width: 150px;
  height: 150px;
  margin-bottom: 5px;
  text-align: center;
  margin-left: 30px;
}

.founder-box{
  text-align: center;
}

.founder-box h2{
  font-size: 20px;
  line-height: 22px;
    padding-left: 0px;
    font-size: 30px;
}

.founder-info{
  width: 100%;
}

.founder-info p{
  font-size: 12px;
  line-height: 22px;
}

.founder-bttn a{
  padding: 15px;
  font-size: 12px;
}

.founder-area{
  left:0px;
}


.slide img{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

.navigation-manual {
        margin-left: -250px;
}

.navigation-auto{
        margin-left: -250px;
}

.footer-area{
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  padding: 30px;
}

.note{
  font-size:7px;
}

.location h3{
  font-size: 15px;
  line-height: 18px;
 
}

.location p{
  font-size: 10px;
  line-height: 12px;
}

.location{
  margin-bottom: 15px;
}

#phone{
  background: url("/images/phone mob.png");
  width:15px;
  height: 15px;
}

#email{
  background: url("/images/emial mob.png");
  width:12px;
  height: 11px;
}

#address{
  background: url("/images/address mob.png");
  width:18px;
  height: 17px;
}


}
